:root {
  --clr-text: hsl(200, 95%, 14%);
  --clr-primary: hsl(200, 95%, 30%);
  --clr-accent: hsl(32, 100%, 49%);
  --clr-accent-darker: hsl(32, 100%, 45%);

  --fw-regular: 400;
  --fw-semibold: 500;
  --fw-bold: 600;

  --br-regular: 0.5rem;
  --br-small: 0.25rem;
}

html {
  /* Always show the scrollbar to avoid page horizontal jump */
  overflow-y: scroll;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: var(--fw-regular);
  color: var(--clr-text);
}

.container {
  padding-inline: 1rem;
  margin-inline: auto;
  max-width: 1000px;
}

.btn {
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: var(--br-regular);
  padding: 0.5rem 1rem;
  line-height: 1;
}

.btn:focus-visible {
  outline: none;
}

.btn-primary {
  background-color: var(--clr-accent);
  color: white;
}

.btn-primary:hover, .btn-primary:focus-visible {
  background-color: var(--clr-accent-darker);
}

.btn-ghost {
  border: 2px solid var(--clr-primary);
  color: var(--clr-primary);
}

.btn-ghost:hover, .btn-ghost:focus-visible {
  border-color: var(--clr-text);
  color: var(--clr-text);
}