.productGridItem {
  position: relative;
  display: grid;
  gap: 0.5rem;
  text-decoration: none;
  color: var(--clr-primary);
  isolation: isolate;
}

.productGridItem::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #eee;
  z-index: -1;
  border-radius: var(--br-regular);
  border: 1px solid hsl(0, 0%, 0%, 0.1);
  opacity: 0;
  transition: opacity 100ms ease-in-out, scale 100ms ease-in-out;
}

.productGridItem:focus-visible {
  outline: none;
}

.productGridItem:hover::before, .productGridItem:focus-visible::before {
  opacity: 1;
  scale: 1.05;
}

.productImageContainer {
  position: relative;
  border-radius: var(--br-regular);
  overflow: hidden;
}

.saleLabel {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  padding: 0.2rem 0.4rem 0.15rem;
  border-radius: var(--br-small);
  background-color: var(--clr-accent);
  color: white;
  font-size: 0.65rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.content{
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.productName {
  font-size: 0.8rem;
}

.price {
  text-align: right;
}

.currentPrice {
  font-weight: var(--fw-bold);
}

.originalPrice {
  color: hsl(0, 0%, 0%, 0.5);
  text-decoration: hsl(0, 0%, 0%, 0.2) line-through ;
  font-size: 0.8rem;
}
