.quantityInput {
  display: flex;
  align-items: stretch;
  width: 140px;
  border: 1px solid var(--clr-primary);
  border-radius: var(--br-regular);
  color: var(--clr-primary);
  overflow: hidden;
  font-weight: var(--fw-semibold);
}

.quantityInput button {
  border-radius: 0;
  color: var(--clr-primary);
  padding: 0.5rem 1rem;
}

.quantityInput button:hover, .quantityInput button:focus-visible {
  background-color: var(--clr-primary);
  color: white;
}

.value {
  display: grid;
  place-items: center;
  flex-grow: 1;
}