.header {
  display: flex;
  align-items: center;
  gap: 4rem;
  padding-block: 2rem;
}

.header nav {
  flex: 1;
}

.logo {
  font-size: 1.4rem;
}

.logo span {
  font-weight: var(--fw-bold);
}

.navList {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navList a {
  font-size: 0.9rem;
  font-weight: var(--fw-semibold);
  display: inline-block;
  padding-block: 0.375rem;
  margin-inline: 0.75rem;
  border-bottom: 2px solid transparent;
}

.navList a:global(.active) {
  border-bottom-color: var(--clr-primary);
  color: var(--clr-primary);
}

.header a {
  text-decoration: none;
  color: var(--clr-text);
}

.header a:hover, .header a:focus-visible {
  color: var(--clr-primary);
}

.cartLink {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.cartLink:global(.active) {
  color: var(--clr-primary);
}

.cartQuantity {
  padding: 0 0.4rem;
  border-radius: 100vw;
  background-color: var(--clr-accent);
  color: white;
  font-size: 0.8rem;
}