.cartPage h1 {
  margin-bottom: 2rem;
}

.cartTable {
  width: 100%;
}

.cartItem td {
  border-bottom: 1px solid #eee;
  padding-block: 1rem;
}

.productImageContainer {
  border-radius: var(--br-regular);
  overflow: hidden;
  width: 50px;
  aspect-ratio: 3.5 / 4;
}

.productImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productName {
  font-weight: var(--fw-semibold);
}

.colPrice {
  text-align: right;
  min-width: 100px;
}

.totalPrice {
  text-align: right;
  margin-block: 2rem;
}

.totalPrice .label {
  font-weight: var(--fw-semibold);
  margin-right: 1rem;
}

.totalPrice .value {
  display: inline-block;
  min-width: 100px;
}